.bar{
text-align:center;
border:3px;
background-color:green;
color:white;
font-family: 'Liu Jian Mao Cao', cursive;
}

.bardown{
border:1px;
background-color:#2e3473;
color:white;
height:820px;
margin-top:-8px;
}

.search>input{
width:500px;
margin-top:7px;
}

.header{
background-color:#2e3473;
height:44px;
width:976px;
margin-left:-30px;
}

.pencil{
max-width:100%;
height:30px;
position:absolute;
margin-left:767px;
margin-top:-28px;
}

.signal{
max-width:100%;
height:30px;
position:absolute;
margin-left:823px;
margin-top:-28px;
}

.bell{
max-width:100%;
height:30px;
position:absolute;
margin-left:880px;
margin-top:-28px;
}

.task>h3{
margin-left:150px;
color:#2e3473;
margin-top:35px;
}

.ad{
margin-left:150px;
color:#2e3473;
margin-top:10px;
}

.toggle>ul>li{
display:inline;
margin-right:25px;
}


.toggle>ul>li>a{
color:grey;
}

.users>ul>li{
display:inline;
margin-right:20px;
}

.box>input{
width:25px;
}

.user{
background-color:lightgreen;
}

.import{
background-color:lightgreen;
}

.sear{
float:right;
margin-right:15px;
margin-top:-48px;
width:330px;
}


.learn>ul>li{
display:inline;
margin-right:15px;
}

.learn{
margin-top:40px;
overflow:hidden;
}

.year>ul>li{
float:right;
display:inline;
margin-right:15px;
}

.year{
margin-top:-60px;
}

.body>ul>li{
display:inline;
margin-right:69px;
}

.body{
margin-top:78px;
background-color:grey;
}

.white>li{
display:inline;
margin-right:69px;
}

.grey>li{
display:inline;
margin-right:69px;
}

.grey{
background-color:lightgrey;
}


.list{
width:100%;
}

	
	


